body {
    background: url(../images/bananas-in-the-supermarket.jpg);
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px;
    border-radius: 5px;
}
.padding {
    padding: 20px;
}
.flex {
    display: flex;
    justify-content: space-between;
}
header {
    background-color: white;
    padding: 3px 0;
}
header img {
    height: 50px;
}
header li {
    display: inline;
    padding-left: 50px;
}
main img{
    float: left;
    width: 50%; 
    padding: 0 10px 10px 0;
}
main {
    margin: 20px;
}
footer {
    background-color: white;
    text-align: center;
    padding: 15px;
}
input, textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;  
    border-radius: 3px;
    border:1px solid #E0E0E0;
    color: #E0E0E0;
}
textarea {
    height: 60px;
}
input:last-child {
    width: 50%;
    background-color: green;
    color: white;
    border: none;
}
table {
    width: 100%;
    margin-top: 40px;
    border: 1px solid #E0E0E0;
    border-collapse: collapse;
}
label {
    font-weight: 700;
}
th, td {
    padding: 5px 0;
}
th, tr, td {
    text-align: center;
    border: 1px solid #E0E0E0;  
}
tr td:first-child {
    color: green;
    font-weight: 700;
}
span {
    color: green;
}